.modalidades{
    text-align: center;
    padding: 60px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card{
    width: 220px;
    height: 150px;
    padding: 20px;
    border-radius: 12px;
    background: #FDFBF0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);

    transition: all 0.3s ease;
    overflow: hidden;
}

.card h3{
    margin-top: 40px;
    transition: 0.3s;
}

.card p{
    opacity: 0;
    font-size: 14px;
    transition: 0.3s;
}

.card:hover{
    background-color: #252F9C;
    color: white;
    transform: translateY(-8px);
}

.card:hover p{
    opacity: 1;
}

.card:hover h3{
    margin-top: 10px;
}